<library path="lib/libbsa_spiral_planner">
  <class name="mobot_traditional_planner/SpiralSTC" type="full_coverage_path_planner::SpiralSTC" base_class_type="nav_core::BaseGlobalPlanner">
    <description>BSA Spiral Coverage Planner Plugin (BSA)</description>
  </class>
</library>

<library path="lib/libstc_planner">
  <class name="mobot_traditional_planner/STCPlanner" 
         type="my_path_planner::STCPlanner" 
         base_class_type="nav_core::BaseGlobalPlanner">
    <description>Spanning Tree Coverage (STC)-</description>
  </class>
</library>

<library path="lib/libbcd_planner">
  <class name="mobot_traditional_planner/BCDPlanner" 
         type="my_path_planner::BCDPlanner" 
         base_class_type="nav_core::BaseGlobalPlanner">
    <description>Boustrophedon Cellular Decomposition (BCD)</description>
  </class>
</library>