<launch>
  <!-- A* C++ plugin：/map + /move_base_simple/goal -> /mr_traditional_planner/optimal_path -->
  <arg name="robot_radius" default="0.25"/>
  <node pkg="mr_traditional_planner" type="planner_plugin_node" name="astar_planner_cpp" output="screen">
    <param name="planner_plugin" value="mr_traditional_planner/AStarPlanner"/>
    <param name="robot_radius" value="$(arg robot_radius)"/>
  </node>
</launch>
